<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Menu</h1>
    <form action="/submit" method="post">
        <ul>
            {% for item in menu_items %}
                <li>
                    <label>
                        <input type="checkbox" name="items" value="{{ item['name'] }}">
                        {{ item['name'] }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
