<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Success!</h1>
    <p>You have selected the following items:</p>
    <ul>
        {% for item in selected_items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <a href="/">Go back to menu</a>
</body>
</html>
